.banner{
    background: url("../bootsraps/img/Heroes.png")no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}
.tips{
    background: url("../bootsraps/img/tips.png")no-repeat center center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #000;
}
.logo-img {
    height: auto;
    width: 100%; /* Adjust the width as needed */
    max-height: 40px; /* Set the maximum height of the logo */
    object-fit: contain; /* Preserve the aspect ratio and fit the image within the specified dimensions */
  }
  
/* AGUNG */
.bungkus {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 5%;
}

img{
    width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    justify-content: center;
}

.agung {
    box-shadow: 2px 2px 15px black;
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 15%;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.willy {
    box-shadow: 2px 2px 15px black;
    background-color: rgb(255, 255, 255);
    width: 225px;
    height: 225px; 
    border-radius: 5px;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}
.willy img {
    object-fit: contain; /* Menggunakan properti object-fit */
    max-width: 100%;
    max-height: 100%;
    margin-top: 14px;
    margin-right: 2px;
}

.agung img {
    object-fit: contain; /* Menggunakan properti object-fit */
    max-width: 100%;
    max-height: 100%;
    margin-top: -14px;
    margin-right: 2px;
}

.agung h1 {
    font-size: 25px;
}
.conten {
    border-bottom: 10px solid #2B1B56;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; /* Atur sesuai kebutuhan */
    margin-bottom: 100px; /* Atur sesuai kebutuhan */
}

.bungkus1{
    text-align: center;
    margin-bottom: 200px;
   
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b1b5698; /* Warna ungu transparan, sesuaikan dengan kebutuhan Anda */
    z-index: 1;
  }
/* AGUNG */
