
/* STYLE TOMBOL TOMBAH */
.tambah{
    color: white;
    background-color: #2B1B56;
    opacity: 88%;
}

.tambah:hover{
    color: white;
    opacity: 100%;
}

/* STYLE TOMBOL UPDATE */
.update{
    color: white;
    background-color: #6500CC;
    opacity: 88%;
}

.update:hover{
    color: white;
    opacity: 100%;
}

/* STYLE TOMBOL DELETE */
.delete{
    color: white;
    background-color: #ff00a6;
    opacity: 80%;
}

.delete:hover{
    color: white;
    opacity: 100%;
}

/* STYLE TOMBOL DELETE */
.detail{
    color: white;
    background-color: #9E04FA;
    opacity: 80%;
}

.detail:hover{
    color: white;
    opacity: 100%;
}

/* FONT COLOR */
.cus-font{
    color: #2B1B56;
}